/* 
*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
}
a{
    text-decoration: none;
}
section{
    border: 1px solid black;
    padding: 10px;
}
.wrapper{
    flex: 1;
}
.main{
    flex: 7;
}
.edit{
    flex: 2;
}

.dragging{
    opacity: .5;
} */
